@import "tailwindcss";

@theme {
	--font-display: "Space Grotesk", "sans-serif"; 
	--font-body: "DM Sans", "sans-serif",
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
	@apply h-full flex flex-col m-0 p-0 break-words bg-white dark:bg-zinc-900 text-zinc-950 dark:text-white text-base leading-normal transition-colors  duration-150
}

code {
	padding: 2px 5px;
	background-color: rgb(var(--gray-light));
	border-radius: 2px;
	}
pre {
	@apply p-5 my-6 rounded-lg text-sm leading-normal
}
pre > code {
	all: unset;
}

a {
	@apply hover:text-amber-500
}

main {
	@apply flex-1
}

:root {
	--astro-code-color-text: azure;
	--astro-code-color-background: black;
	--astro-code-token-constant: plum;
	--astro-code-token-string: orchid;
	--astro-code-token-comment: salmon;
	--astro-code-token-keyword: powderblue;
	--astro-code-token-parameter: seashell;
	--astro-code-token-function: #0d9488;
	--astro-code-token-string-expression: #fff;
	--astro-code-token-punctuation: linen;
	--astro-code-token-link: honeydew;
}

html.dark {
	--astro-code-color-text: #c9d1d9;
	--astro-code-color-background: #0d1117;
	--astro-code-token-constant: #79c0ff;
	--astro-code-token-string: #a5d6ff;
	--astro-code-token-comment: #8b949e;
	--astro-code-token-keyword: #ff7b72;
	--astro-code-token-parameter: #c9d1d9;
	--astro-code-token-function: #0d9488;
	--astro-code-token-string-expression: #fff;
	--astro-code-token-punctuation: #c9d1d9;
	--astro-code-token-link: #000012;
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}

.content {
	p {
		@apply mb-4
	}

	/* h1, h2, h3, h4, h5, h6 {
		@apply text-amber-500
	} */

	h1 {
		@apply text-4xl font-bold
	}

	h2 {
		@apply text-3xl font-bold
	}

	h3 {
		@apply text-2xl font-bold
	}

	h4 {
		@apply text-xl font-bold
	}
}