---
import HeaderLink from "./HeaderLink.astro";
import FeedIcon from "./FeedIcon.astro";
import ThemeIcon from "./ThemeIcon.astro";
import { SITE_TITLE } from "../consts";
---

<header class="container px-4 py-4 mx-auto md:py-10 xl:max-w-3xl">
  <nav class="flex flex-col justify-between">
    <h2
      class="text-2xl font-bold text-teal-600 dark:text-amber-500 font-display"
    >
      <a href="/">{SITE_TITLE}</a>
    </h2>
    <div class="flex items-center space-x-4">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
      <FeedIcon />
      <ThemeIcon />
    </div>
  </nav>
</header>
